@code {
  [Parameter] public System.Linq.Expressions.Expression<Func<Core.Geoldba.NER_GAV_KETV, bool>> ParamFilter { get; set; } = item => false;
  [Parameter] public bool? ParamIsExpandable{ get; set; }
  [Parameter]
  public bool? ParamIsExpanded{ get; set; }
}
@inject Data.Context db


<ExpList ParamText="Rodyti" ParamIsExpandable="@this.ParamIsExpandable" ParamIsExpanded="@this.ParamIsExpanded"
  ParamSource=@(
    db.NER_GAV_KETV
      .Where(this.ParamFilter)
      .OrderByDescending(item => item.GAVK_METAI).ThenByDescending(item => item.GAVK_KETV)
      .Select(ketv => new {
        Metai = ketv.GAVK_METAI,
        Ketvirtis = ketv.GAVK_KETV,
        TelkinioSluoksnis = new {
          Telkinys = new {
            ID = ketv.TelkinioSluoksnis.TelkinysID,
            Name = ketv.TelkinioSluoksnis.Telkinys.Name
          },
          ID = ketv.TelkinioSluoksnisID,
          Index = ketv.TelkinioSluoksnis.TelkinysIndex
        },
        MarsederinioPlanoData = ketv.MarkseidData,
        Gavyba = ketv.GAVK_KIEKIS,
        Nuostolis = ketv.GAVK_NUOSTOLIS,
        Pradzia = ketv.GAVK_LIKUTIS_PR,
        UzKonturo = ketv.GAVK_IST_PASIKEITIMAS,
        Pabaiga = ketv.GAVK_LIKUTIS_PB,
        Mazaskaides = ketv.GAVK_KIEKIS_TAME_TARPE,
        IstekliuRusis = ketv.IstekliuRusisID == null ? null : new {
          ID = ketv.IstekliuRusisID
        },
        Pastaba = (string?)ketv.GAVK_PASTABA,
        GavybosSklypas = new {
          ID = ketv.GavybosSklypasID,
          Objs = ketv.GavybosSklypas.ZGRLGavybosObjektai.Select(obj => new {
            obj.ID,
            Sutartis = new {
              ID = obj.SutartisID,
              Leidimas = new {
                ID = obj.Sutartis.LeidimasID,
                Name = obj.Sutartis.Leidimas.Name
              }
            }
          })
        }
      })
    )
>
  <Wrapper Context="rows">
    <table class="bord">
      <tr>
        <td rowspan="2">Metai</td>
        <td rowspan="2">Ketv</td>
        <td class="text-center" colspan="12">Duomenys</td>
      </tr>
      <tr>
        <td>Leidimai</td>
        <td>Telkinys</td>
        <td>sl.Nr</td>
        <td>Marks</td>
        <td>IR</td>
        <td>Pradzia</td>
        <td>Gavyba</td>
        <td>Mažaskaidės</td>
        <td>Nuostolis</td>
        <td>Pasikeitimas</td>
        <td>Pabaiga</td>
        <td>Pastaba</td>
      </tr>
      @rows
    </table>
  </Wrapper>
  <IfSome Context="ketv">
    <tr>
      <td>@ketv.Metai</td>
      <td>@ketv.Ketvirtis</td>
      <td>
        @foreach (var obj in ketv.GavybosSklypas.Objs)
        {
          <a href="/in/gis/leidimas/@obj.Sutartis.Leidimas.ID">
            @obj.Sutartis.Leidimas.Name
          </a>
          <br/>
        }
      </td>
      <td><a href="/in/gis/telkinys/@ketv.TelkinioSluoksnis.Telkinys.ID">@ketv.TelkinioSluoksnis.Telkinys.Name</a></td>
      <td>@ketv.TelkinioSluoksnis.Index</td>
      <td>@ketv.MarsederinioPlanoData.LT(false)</td>
      <td>@ketv.IstekliuRusis?.ID</td>
      <td>@ketv.Pradzia</td>
      <td>@ketv.Gavyba</td>
      <td>@ketv.Mazaskaides</td>
      <td>@ketv.Nuostolis</td>
      <td>@ketv.UzKonturo</td>
      <td>@ketv.Pabaiga</td>
      <td>@ketv.Pastaba</td>
    </tr>
  </IfSome>
  <IfNone>
    Nieko nerasta
  </IfNone>
</ExpList>