@code {
  [Parameter] public int ParamTelkID { get; set; }
}
@inject Geolis.GeolisContext db
<ExpList ParamText="Rodyti" ParamIsExpanded=false ParamIsExpandable=true
  ParamSource=@(
    db.Telkiniai
      .Where(item => item.ID == this.ParamTelkID)
      .Select(telk => new {
        Sluoksniai = telk.Sluoksniai!
        .Select(sl => new {
          sl.ID,
          sl.TelkinysIndex,
          KiekiaiPries1999 = sl.GavybosAtaskaitos_Pries1999!.Select(item => new {
            item.Kiekis
          }),
          IR = (string?)sl.AGS_IST_TRUMP,
          Ketvs = sl.NER_GAV_KETVs!
          .OrderBy(item => item.GAVK_METAI).ThenBy(item=> item.GAVK_KETV)
          .Select(ketv => new {
            Metai = ketv.GAVK_METAI, Ketv = ketv.GAVK_KETV,
            IR = (string?)ketv.IstekliuRusisID,
            Deadline = new DateTime(ketv.GAVK_METAI, 3*ketv.GAVK_KETV, 1).AddMonths(1).AddSeconds(-1),

            Gavyba = ketv.GAVK_KIEKIS,
            Nuostolis = ketv.GAVK_NUOSTOLIS,
            UZ_KONT = ketv.GAVK_UZ_KONT,
            IST_PASIKEITIMAS = ketv.GAVK_IST_PASIKEITIMAS,
            PR = ketv.GAVK_LIKUTIS_PR,
            PB = ketv.GAVK_LIKUTIS_PB
          }),
          Metines = sl.NER_ISK_GAVs!.Select(met => new {
            Metai = met.Metai,
            IR = (string?)met.IstekliuRusisID,
            Deadline = new DateTime(met.Metai, 12, 31),

            Gavyba = met.GAV_KIEKIS,
            Nuostolis = met.GAV_NUOSTOLIS,
            UZ_KONT = met.GAV_UZ_KONT,
            IST_PASIKEITIMAS = met.GAV_NUOST_2015
          }),
          Istekliai = sl.Istekliai!
            .OrderBy(item => item.IST_GALIOJA_NUO)
            .Select(ist => new {
              Comment = ist.Comment,
              ist.ID,
              IST_ISTK_KATEGORIJA = ist.IST_ISTK_KATEGORIJA,
              IST_GALIOJA_NUO = (DateTime?)ist.IST_GALIOJA_NUO,
              IST_GALIOJA_IKI = (DateTime?)ist.IST_GALIOJA_IKI,
              Kiekis = (decimal?)ist.IST_KIEKIS
            })
          }
        )
        .Where(sl => sl.Istekliai.Any())
      })
  )
>
  <IfSome Context="telk">
    <table class="bord">
      <tr>
        <th>Sl. Nr.</th>
        <th>Išt</th>
        <th>Tipas</th>
        <th>Nuo</th>
        <th>Iki</th>
        <th>Kiekis</th>
        <th>Gavybos ataskaitos</th>
        <th></th>
      </tr>
      @foreach (var sl in telk.Sluoksniai)
      {
        var first = sl.Istekliai.First();
        @foreach (var ist in sl.Istekliai)
        {
          var ketvs = sl.Ketvs.Where(ketv => ketv.Deadline > ist.IST_GALIOJA_NUO && (ist.IST_GALIOJA_IKI == null || ketv.Deadline < ist.IST_GALIOJA_IKI.Value)).OrderBy(item => item.Metai).ThenBy(item => item.Ketv);
          var mets = sl.Metines.Where(met => met.Deadline > ist.IST_GALIOJA_NUO && (ist.IST_GALIOJA_IKI == null || met.Deadline < ist.IST_GALIOJA_IKI.Value)).OrderBy(item => item.Metai);
          var naujiKetv = ketvs
            .Where(ketv => !mets.Any(item => item.Metai == ketv.Metai)) // Ketvirčiai nesutraukti į metines statistikas
          ; 
          <tr>
            @if(ist == first)
            {
              var count = sl.Istekliai.Count(); 
              <td rowspan="@count">
                @sl.TelkinysIndex
              </td>
            }
            <td>@sl.IR</td>
            <td>@ist.IST_ISTK_KATEGORIJA</td>
            <td>@ist.IST_GALIOJA_NUO.LT(false)</td>
            <td>@ist.IST_GALIOJA_IKI.LT(false)</td>
            <td>@ist.Kiekis</td>
            @if(!mets.Any() && !ketvs.Any())
            {
              <td colspan="1"></td>
            } else
            {
              <td>
                <table class="bord w-100">
                  <tr>
                    <td>Q</td>
                    <td>Metai</td>
                    <td>start</td>
                    <td>Gavyba</td>
                    <td>Nuostlis</td>
                    <td>Pasikeitimas</td>
                    <td>UzKont</td>
                    <td>end</td>
                  </tr>
                  @{
                    var likutis = ist.Kiekis;
                  }
                  @if(sl.KiekiaiPries1999.Any()){
                    @foreach (var pries1999 in sl.KiekiaiPries1999)
                    {
                            
                      <tr>
                        <td colspan="2">Prieš 1999</td>
                        <td>@likutis</td>
                        <td>@pries1999.Kiekis</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                          @{
                            var skirtumas = -(pries1999.Kiekis ?? 0);
                            likutis += skirtumas;
                          }
                          @likutis
                        </td>
                      </tr>
                    }
                  }
                  @foreach(var met in mets){
                    <tr>
                      <td>-</td>
                      <td>@(met.Metai)</td>
                      <td>@likutis</td>
                      <td>@(met.Gavyba)</td>
                      <td>@(met.Nuostolis)</td>
                      <td>@(met.IST_PASIKEITIMAS)</td>
                      <td>@(met.UZ_KONT)</td>
                      <td>
                      @{
                        var skirtumas = - (met.Gavyba ?? 0) + (met.Nuostolis ?? 0) + (met.IST_PASIKEITIMAS ?? 0);
                        likutis += skirtumas;
                      }
                        @likutis
                      </td>
                    </tr>
                  }
                  @foreach (var ketv in naujiKetv)
                  {
                    <tr>
                      <td>@(ketv.Ketv)</td>
                      <td>@(ketv.Metai)</td>
                      <td>@likutis</td>
                      <td>@(ketv.Gavyba)</td>
                      <td>@(ketv.Nuostolis)</td>
                      <td>@(ketv.IST_PASIKEITIMAS)</td>
                      <td>@(ketv.UZ_KONT)</td>
                      <td>
                      @{
                        var skirtumas = (ketv.PB ?? 0) - (ketv.PR ?? 0);
                        likutis += skirtumas;
                      }
                        @likutis
                      </td>
                    </tr>
                  }
                </table>
              </td>
            }
            <td>@ist.Comment</td>
          </tr>
        }
      }
    </table>
  </IfSome>
</ExpList>
