@using LGT.Intranet.Models
@inherits Bind<LGT.Intranet.Models.Message>
@code {
  private string Format { get; set; } = "yyyy-MM-dd HH:mm";
}
@inject LGT.Intranet.IntranetContext db
@if(this.value == null){
}
else
{
  <EditForm Model=@this.value OnValidSubmit=@CallbackOnValidSubmit>
    <table class="w-100 input-table">
      <tr>
        <td colspan="2">
          <DataAnnotationsValidator/>
          <ValidationSummary/>
        </td>
      </tr>
      <tr>
        <td>Index</td>
        <td>
          <input type="number" @bind-value=@this.value.Index />
        </td>
      </tr>
      <tr>
        <td>Paskelbta</td>
        <td>
          <InputCheckbox @bind-Value=@this.value.IsPublic />
        </td>
      </tr>
      <tr>
        <td>Rodyti nuo</td>
        <td>
          <input @bind=@this.value.ShowSince @bind:format="@Format" />
        </td>
      </tr>
      <tr>
        <td>Nuo</td>
        <td>
          <input @bind=@this.value.Since @bind:format="@Format" />
        </td>
      </tr>
      <tr>
        <td>Iki</td>
        <td>
          <input @bind=@this.value.Until @bind:format="@Format" />
        </td>
      </tr>
      <tr>
        <td>Antraštė</td>
        <td>
          <InputText class="w-100" @bind-Value=@this.value.Header />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <InputSelect @bind-Value=@this.value.ArticleId>
            <option></option>
            <ExpList
              ParamSource=@(db.Articles
                .Where(item => item.Accessibility.HasFlag(Accessibility.IsAccessible)).AsNoTracking()
                .Select(item => new { ID = item.Id, Name = item.InternalName})
              )
              >
              <IfSome Context=article>
                <option value=@article.ID>
                  @article.Name
                </option>
              </IfSome>
            </ExpList>
          </InputSelect>
          @if(this.value.ArticleId != null){
            <a href="/in/intranet/articles/@this.value.ArticleId">redaguoti straipsnį</a>
          }
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="w-100" type="submit">@(this.ParamButtonText ?? "Submit")</button>
        </td>
      </tr>
    </table>
  </EditForm>
}
