@attribute [CustomAuthorize(GISRights.Leidimai)]
@page "/in/gis/leidimas/{ParamID:int}"

@code {
  [Parameter] public int ParamID { get; set; }
  private IQueryable<Geolis.Geoldba.Leidimas> self => db.Leidimai.Where(item => item.ID == this.ParamID);
}
@inject Geolis.GeolisContext db

<ExpList
  ParamSource=@(self
    .Select(leid => new {
      leid.ID,
      leid.Name,
      leid.DataNuo,
      leid.DataIki,
      Isdave = new {
        ID = leid.IsdavesJuridinisAsmuoID,
      },
      Kam = new {
        JuridinisAsmuo = leid.Kam_JuridinisAsmuoID == null ? null : new {
          ID = leid.Kam_JuridinisAsmuoID,
          leid.Kam_JuridinisAsmuo!.Name1,
          leid.Kam_JuridinisAsmuo.NameShort
        },
        FizinisAsmuo = leid.Kam_FizinisAsmuoID == null ? null : new {
          ID = leid.Kam_FizinisAsmuoID
        },
        JVS = leid.KAM_JungtinesVeiklosSutartisID == null ? null : new {
          ID = leid.KAM_JungtinesVeiklosSutartisID,
          Name = leid.KAM_JungtinesVeiklosSutartis!.Name
        }

      },
      Panaikintas = (leid.DataPanaikinimo == null && leid.Ended_Reason == null) ? null : new {
         Nuo = leid.DataPanaikinimo,
         Reason = leid.Ended_Reason
      }
    })
  )
>
  <IfSome Context=leid>
    <h3>Leidimas @leid.Name</h3>
    <table class="bord">
      @if(leid.Isdave.ID != 11)
      {
        <tr class="bg-danger">
          <td>Išdavė</td>
          <td>
            <a href="/in/gis/juridinisasmuo/@leid.Isdave.ID">ne LGT</a>
          </td>
        </tr>
      }
      <tr>
        <td>Gavėjas</td>
        <td>
          @if (leid.Kam.JuridinisAsmuo != null)
          {
            <a href="/in/gis/juridinisasmuo/@leid.Kam.JuridinisAsmuo.ID">
              @(leid.Kam.JuridinisAsmuo.NameShort ?? leid.Kam.JuridinisAsmuo.Name1)
            </a>
          } else if(leid.Kam.FizinisAsmuo != null)
          {
            <a href="/in/gis/fizinisasmuo/@leid.Kam.FizinisAsmuo.ID">fizinis asmuo [@leid.Kam.FizinisAsmuo.ID]</a>
          } else if (leid.Kam.JVS != null)
          {
            <a href="/in/gis/jungtinesveiklossutartis/@leid.Kam.JVS.ID">
              JVS
            </a>
          }
          else
          {
            <span class="bg-danger">klaida</span>
          }
       </td>
      </tr>
      <tr>
        <td>Nuo</td>
        <td colspan="1">@leid.DataNuo.LT(false)</td>
      </tr>
      <tr>
        <td>Iki</td>
        <td class="@(leid.DataIki < DateTime.Now ? "bg-danger" : null)">
          @if(leid.Panaikintas?.Nuo < DateTime.Now)
          {
            <s>
              @leid.DataIki.LT(false)
            </s>
          } else
          {
            @leid.DataIki.LT(false)
          }
        </td>
      </tr>
      
      @if(leid.Panaikintas != null)
      {
        <tr>
          <td rowspan="2">Panaikintas</td>
          <td>@leid.Panaikintas.Nuo.LT(false)</td>
        </tr>
        <tr>
          <td>
            @if (leid.Panaikintas.Reason == null)
            {
              <span class="text-info">priežastis nenurodyta</span>
            } else
            {
              <text>@leid.Panaikintas.Reason</text>
            }
          </td>
        </tr>
      }
      <tr>
        <td>Sutartys</td>
        <td>
          <ExpList ParamText="Rodyti" ParamIsExpandable=true ParamIsExpanded=false
                   ParamSource=@(self.SelectMany(item => item.Sutartys).Select(sut => new {
              sut.ID,
              sut.Since,
              sut.Until,
              sut.LeidimasIndex,
              Objs = sut.ZGRLGavybosObjektai.Select(obj => new {
                obj.ID,
                Telkinys = obj.TelkinysID == null ? null : new {
                  ID = obj.TelkinysID,
                  Name = obj.Telkinys!.Name
                }
              })
            }))
            >
            <Wrapper Context="rows">
              <ol>@rows</ol>
            </Wrapper>
            <IfSome Context="sut">
              <li value="@sut.LeidimasIndex">
                <a href="/in/gis/sutartis/@sut.ID">@sut.Since.LT(false) @sut.Until.LT(false)</a>
                (@foreach (var obj in sut.Objs)
                {
                  @if (obj.Telkinys != null)
                  {
                    <span>
                      <a href="/in/gis/telkinys/@obj.Telkinys.ID">@obj.Telkinys.Name</a>
                    </span>
                  }
                  else
                  {
                    <span class="bg-danger">Telkinys nepriskirtas</span>
                  }
                })
              </li>
            </IfSome>
          </ExpList>
        </td>
      </tr>
    </table>
  </IfSome>
</ExpList>