@attribute [CustomAuthorize(GISRights.Telkiniai)]
@page "/in/gis/telkinys/{ParamID:int}"
@rendermode InteractiveServer
@inject Geolis.GeolisContext db
@code {
  [Parameter] public int ParamID { get; set; }
  private IQueryable<Geolis.Geoldba.Telkinys> self => db.Telkiniai.Where(item => item.ID == ParamID);
}
<ExpList ParamSource=@(self
    .Select(telk => new { 
      telk.ID,
      telk.Name,
      Parent = telk.ParentID == null ? null : new {
        ID = telk.ParentID,
      }
    })
  )
  >
  <IfSome Context="item">
    <div class="border">
      <h3>Telkinys @item.Name</h3>
      <table class="bord">
        @if(item.Parent != null){
          <tr>
            <td>Priklauso telkiniui</td>
            <td>
              <a href="/in/gis/telkinys/@item.Parent.ID">@item.Parent.ID</a></td>
          </tr>
        }
        
        <tr><td>Telkiniui priklauso</td>
          <td>
            <ExpList ParamText="Parodyti" ParamIsExpandable=false ParamIsExpanded=false
              ParamSource=@(self
                .Select(item => new { item.ID, item.Name })
              )
            >
              <Wrapper Context="rows"><ul>@rows</ul></Wrapper>
              <IfSome Context="child">
                <li><a href="/in/gis/telkinys/@child.ID">@child.Name</a></li>
              </IfSome>
              <IfNone>niekas</IfNone>
            </ExpList>
          </td>
        </tr>
        <tr><td>Išteklių plotai</td>
          <td>
            <ExpList ParamIsExpanded="false" ParamIsExpandable="true"
              ParamSource=@(self.SelectMany(item => item.GIS_ISTEKLIU_PLOTAI!)
                .OrderBy(item => item.ID)
                .Select(ist => new {
                  ID = ist.ID,
                  KAT = ist.IstekliuKategorijaID
                })
              )
            >
              <Wrapper Context="rows"><ul>@rows</ul></Wrapper>
              <IfSome Context="ist">
                <li>
                  <a href="/in/gis/istekliuplotas/@ist.ID">@ist.ID</a> <NameComponent ParamName="@ist.KAT" />
                </li>
              </IfSome>
              <IfNone>
                <div>Sluoksnių rasti nepavyko</div>
              </IfNone>
            </ExpList>
          </td>
        </tr>
        <tr><td>Sluoksniai</td>
          <td>
            <TelkinioSluoksni ParamTelkID=@this.ParamID />
          </td>

        </tr>
        <tr><td>Kasybos sklypai</td>
          <td>
            <ExpList ParamText="Rodyti" ParamIsExpandable="true" ParamIsExpanded="false" 
              ParamSource=@(self
                .Select(telk => new {
                  Objs = telk.ZGRLGavybosObjektai!.Select(obj => new {
                    obj.GavybosSklypasID,
                    Leidimas = new {
                      ID = obj.Sutartis!.LeidimasID,
                      Name = obj.Sutartis.Leidimas!.Name,
                     Galioja = 
                      (obj.Sutartis.Leidimas.IsdavesJuridinisAsmuoID == 11) // Išdavė LGT
                       && (
                         obj.Sutartis.Leidimas.DataPanaikinimo == null
                         || 
                         obj.Sutartis.Leidimas.DataPanaikinimo.Value > DateTime.Now
                       ) // Nepanaikintas
                       && (
                         obj.Sutartis.Leidimas.DataIki == null // nenurodyta iki kada galioja
                         || // arba
                         obj.Sutartis.Leidimas.DataIki >= DateTime.Now // nurodyta ir dar galioja
                       )
                      ,
                      Info = $"{obj.Sutartis.Leidimas.DataIki.LT(false)}()",
                      // TODO: galioja / negalioja ir paspaalvoti
                      Kam = new {
                        JuridinisAsmuo = obj.Sutartis.Leidimas.Kam_JuridinisAsmuoID == null ? null : new {
                          ID = obj.Sutartis.Leidimas.Kam_JuridinisAsmuoID,
                          JARKodas = obj.Sutartis.Leidimas.Kam_JuridinisAsmuo!.JARKodas,
                          Name = obj.Sutartis.Leidimas.Kam_JuridinisAsmuo!.Name1
                        }
                      }
                    }
                  })
                })
              )
            >
              <IfSome Context="telk">
                <table class="bord">
                  <tr>
                    <td>Juridinis asmuo (Pavadinimas)</td>
                    <td>Leidimas (Nr)</td>
                    <td>Sklypas (ID)</td>
                  </tr>
                  @foreach (var obj_jurAsmGR in @telk.Objs.GroupBy(obj => obj.Leidimas.Kam.JuridinisAsmuo?.ID).OrderBy(item => item.Key))
                {
                  var first = @obj_jurAsmGR.First();
                  <text>
                    
                  </text>
                  @foreach (var obj in obj_jurAsmGR)
                  {
                    <tr>
                      @if(obj == first)
                      {
                        <td rowspan="@(obj_jurAsmGR.Count())">
                          @if (first.Leidimas.Kam.JuridinisAsmuo != null)
                          {
                            @if(first.Leidimas.Kam.JuridinisAsmuo.JARKodas != null)
                            {
                              <a href="/in/gis/telkinys/@ParamID/@first.Leidimas.Kam.JuridinisAsmuo.JARKodas">
                                @obj_jurAsmGR.First().Leidimas.Kam.JuridinisAsmuo?.Name
                              </a>
                            } else
                            {
                              <span>@obj_jurAsmGR.First().Leidimas.Kam.JuridinisAsmuo?.Name</span>
                            }
                          }
                          else
                          {
                            <span class="bg-danger">?</span>
                          }
                        </td>
                      }
                      <td style="@((@obj.Leidimas.Galioja) ? "background-color:#0F0;" : null)">
                        <a href="/in/gis/leidimas/@obj.Leidimas.ID">@obj.Leidimas.Name</a>
                      </td>
                          <td style="@((@obj.Leidimas.Galioja) ? "background-color:#0F0;" : null)">
                        <a href="/in/gis/gavybossklypas/@obj.GavybosSklypasID">
                          @obj.GavybosSklypasID
                        </a>
                      </td>
                    </tr>
                  }
                }
                </table>
              </IfSome>
            </ExpList>
          </td>
        </tr>
        <tr>
          <td>Dokumentai</td>
          <td>
            <TelkinioDokumentai ParamTelkID=@ParamID />
          </td>
        </tr>
      </table>
    </div>
  </IfSome>
</ExpList>
